<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike. Just Do It.</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>

{{> body}}

<!-- this is a new feature that I haven't seen before and I wanted to dive deep and create a million little partials so that everything was all clean and neat, but had to pump the brakes a bit because this isn't meant to be production code. That said, I'm itching to use more layout systems like this one, and I hope Nike has this kind of functionality in their custom framework! -->

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
